
.background{
	background-image: url("../Bing.jpg");
	text-align: center;
}
h1{
	color: white;
	

}
.jumbotron{
	width: 450px;
	height: 250px;
	margin-left: 35%;
	top: 120px;
	opacity: 0.9;
	background-color: black;
    filter: alpha(opacity=20); 
}

h1:hover{
	color: white;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
.a{
	margin-top:25px;
}
.print{
	width: auto;
	height: auto;
	text-align: center;
	top: 120px;
	opacity: 0.9;
	background-color: black;
    filter: alpha(opacity=20); 
}
.img{
	display:inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.center{
	height: 350px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}
.carousel-inner{
	text-align: center;
}
.carsel{
	margin-top: 15%;
	margin-bottom: 9%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	height: 320px;
}

@media only screen and (max-device-width:375px){
	.jumbotron{
	width: 50%;
	height: 100%;
	top: 120px;
	opacity: 0.9;
	margin-right: 50%;
	background-color: black;
    filter: alpha(opacity=20); 
    text-align: none;
    	}
	body{
		background-image: url("../Bing.jpg");
		height: 500%;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		 background-size: cover;


	}
}